<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile=".\internal_logs\internallog.txt">
	<targets>
		<target name="logfile" xsi:type="File"
				fileName=".\logs\${shortdate}_mvc_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}" />

		<target name="database" xsi:type="Database"
				connectionString="Server=.\sqlexpress;database=CompanyEmployee;Integrated Security=True;Trusted_Connection=True;TrustServerCertificate=True;"
				commandText="INSERT INTO ErrorLogs
					(CreatedAt, Level, Message, StackTrace, SourceClass, SourceNamespace, RequestPath, HttpMethod)
					VALUES
					(@createdAt, @level, @message, @stackTrace, @sourceClass, @sourceNamespace, @requestPath, @httpMethod)">

			<parameter name="@createdAt"       layout="${longdate}" />
			<parameter name="@level"           layout="${level:uppercase=true}" />
			<parameter name="@message"         layout="${message}" />
			<parameter name="@stackTrace"      layout="${exception:format=tostring}" />
			<parameter name="@sourceClass"     layout="${callsite:className=true:methodName=true}" />
			<parameter name="@sourceNamespace" layout="${callsite-filename}" />
			<parameter name="@requestPath"     layout="${aspnet-request-url:IncludeQueryString=true}" />
			<parameter name="@httpMethod"      layout="${aspnet-request-method}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
		<logger name="*" minlevel="Warn" writeTo="database" />
	</rules>
</nlog>
