<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
autoReload="true"
internalLogLevel="Trace"
internalLogFile=".\internal_logs\internallog.txt">
	<targets>
		<target name="logfile" xsi:type="File"
				fileName=".\logs\${shortdate}_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>

		<target name="database" xsi:type="Database"
				connectionString="Server=.\sqlexpress;database=CompanyEmployee;Integrated Security=True;Trusted_Connection=True;TrustServerCertificate=True;"
				commandText="INSERT INTO ErrorLogs
					(CreatedAt, Level, Message, StackTrace, SourceClass, SourceNamespace, RequestPath, HttpMethod, HttpStatusCode)
					VALUES
					(@createdAt, @level, @message, @stackTrace, @sourceClass, @sourceNamespace, @requestPath, @httpMethod, @httpStatusCode)">
